name: Production Service Testing

on:
  push:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    environment: production-server

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Save secret
        run: 'echo "$SERVICEX_YAML" > servicex.yaml'
        shell: bash
        env:
          SERVICEX_YAML: ${{ secrets.SERVICEX_YAML }}

      - name: Install package
        run: |
          python -m pip install --upgrade uv
          uv pip install --system --upgrade pip setuptools wheel
          uv pip install --system --upgrade '.[databinder,pandas,test]'
          uv pip list --system

      - name: Run example
        run: python3 examples/Uproot_UprootRaw_Dict.py
